body{

    /*color: rgb(0, 0, 0);*/
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    display: grid;
    width: auto;
    }




.headertitulo{

    color: black;
    font-size: 30px;
    border-style: dotted;
    border: 5px;
    margin: 25px 5px 20px 5px;
    padding: 1px;
    
    
    }

.titulo{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    border-color: gainsboro;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    
    
    }

.main{
background-color: aquamarine;


}


.container{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    width: auto;

    margin: 20px 0 20px 0;
    /*background-color: rgb(150, 85, 85);*/


}


.encabezado{
    display: block;
    text-align: center;
    border-top: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin: 20px 0 20px 0;
    background-color: goldenrod;
    padding: 0;
    }

.tituloencabezado{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
    

}

.textoencabezado{
    text-align: justify;
    font-size: 16px;
    
    text-align: center;
    

}

.encabezado2{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin: 20px 0 20px 0;
    background-color: blanchedalmond;
}


.textoencabezado2{
    text-align: justify;
    font-size: 16px;
    
    
}


.final{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin: 20px 0 20px 0;
    background-color: burlywood;
}

.final_section{
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin: 20px 0 20px 0;
    background-color: coral;
    text-decoration: none;
    
}

.footerfirma{

    color:gray;
    font-weight: bold;
    background-color: indigo;
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    margin: 20px 0 20px 0;

}
